html, body {
	font-family: Consolas, monaco, monospace;
	background-image: url(../images/background-1068900_960_720_clear.jpg);
	background-size: cover;
	color: rgb(24, 24, 24);
}

.main_content{
	background-color: rgba(185, 185, 185, 0.8);
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}
/*Essai dashboard Michele*/
body {
  padding-top: 80px;

}
div.display-table {
	background-color: #ffffff;
}
#sidebar {
  position: fixed;
  top: 50px;
  left: 220px;
  width: 220px;
  margin-left: -220px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.side-bar > li > a {
  color: #eee;
  width: 220px;
}

.side-bar li a:hover,
.side-bar li a:focus {
  background-color: #333;
}

.tmargin {
  margin-top: 15px;
}

/*=====================HERMELEN======================*/
/*mise en forme navBar provisoire*/
.nav_header li{
	list-style:none;
	display: inline;
}

/*mise en forme tableau product*/
.product_img_thumbnail_back .img_thumbnail_back{
	max-height: 100px;
	max-width: 100px;
}
