html, body {
	font-family: Arial, sans-serif;
	background-image: url(../images/wood_texture3847lite.jpg);
	background-size: cover;
	color: rgb(8, 7, 7);
}

.main_content {
	background-color: rgba(185, 185, 185, 0.8);
}

a {
	text-decoration: none;
	color: rgb(8, 7, 7);
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
	font-size: 2em;
}

h2 {
	color: #66D9EF;
}


/*=====================HERMELEN======================*/
.spacer{
	clear: both;
}
/*GENERAL*/
/*mise en forme navBar provisoire*/
.nav_header li{
	list-style:none;
	display: inline;
}


/*===================MICHELE========================*/
/*CSS formulaires Inscription Connexion (ne marche pas)*/
.colored {
  background-color: rgb(210, 210, 210);
	margin-left: auto;
	margin-right: auto;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  margin-left: auto;
  margin-right: auto;

}
.modal-header {
  border-bottom: 1px solid #48a4ac;
  background: #61bdc5;
  min-height: 16.4286px;
  padding: 10px 15px;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
.modal-body {
  position: relative;
	width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 15px;
}
.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 0;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
/*===================MICHELE========================*/
/*CSS Thumbnail page Listproduct*/
article.card {
	background-color: rgba(185, 185, 185, 0.8);
}
p.caract {
	padding-left: 3em;
	font-weight: bold;
}
p.button {
	text-align: center;
}
article.card h2 {
	text-align: center;
	color: #5d5926;
	font-weight: bold;
}
article.card h3 {
	text-align: center;
	color: #0d786b;
	font-weight: bold;
}
.thumbs article{
  width: 320px;
  margin: 1em 8px;
  border: 1px solid black;
  float: left;
}
.thumbs article h3{
	text-align: center;
}
.thumbs article h4{
	text-align: center;
}
.thumbs article img {
	max-width: 100%;
  min-width: 100%;
	max-height: 25rem;
	min-height: 25rem;
}
/*===================MICHELE========================*/
/* Essai Menu Navbar vertical left*/
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
		font-weight: bold;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
	.product {
		margin-left: 15px;
		margin-right: 15px;
	}

}
.article_single {
	background-color: rgb(218, 208, 202);
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}
/*===================MICHELE========================*/
/* Essai table admin product*/

a{
  color: #739931;
}
table th,
table td{
  text-align: center;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
}

table.display th{ background: rgb(218, 208, 202); }
table.display td{ background: rgba(185, 185, 185, 0.8); }

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
table.responsive-table img {
	max-width: 15rem;
  min-width: 15rem;
	max-height: 15rem;
	min-height: 15rem;
}
@media (max-width: 30em){
    table.responsive-table{
      box-shadow: none;
    }
    table.responsive-table thead{
      display: none;
    }
  table.display th,
  table.display td{
    padding: .5em;
  }

  table.responsive-table td:nth-child(1):before{
    content: 'Image';
  }
  table.responsive-table td:nth-child(2):before{
    content: 'Nom';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2){
    padding-left: 25%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before{
    position: absolute;
    left: .5em;
    font-weight: bold;
  }

    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    table.responsive-table td.organisationnumber{
        background: #D5E0CC;
        border-top: 1px solid #B3BFAA;
    }
    table.responsive-table td.actions{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
    }
}
/*===================MICHELE========================*/
/* Essai form admin product*/
.modification {
	background: rgba(185, 185, 185, 0.8);
}
.ajout {
	background: rgba(185, 185, 185, 0.8);
}
.modif-form {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}
.ajout-form {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}
button.modif_product {
	text-align: right;
}
/*================boostrap-navbar=======================*/
/*pas sticky*/
.navbar-default{/*navbar global*/
	background-color: rgb(184, 175, 170);/*foncé*/
	border-width: 0;
}
.navbar-default .navbar-nav>.active>a{/*Accueil et autres li active*/
	background-color: rgb(218, 208, 202);/*clair*/
}
.btn-default{/*boutons submit panier...*/
	background-color: rgb(218, 208, 202);
}
.navbar-default .navbar-nav>.open>a:focus{/*title dropdowm when focused or clicked*/
	background-color: rgb(218, 208, 202);
}
.navbar-default .dropdown-menu{/*dropdown content*/
	background-color: rgb(184, 175, 170);
}
/*sticky*/
.navbar-default.sticky{/*navbar global*/
	background-color: rgb(218, 208, 202);
	border-width: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
}
.navbar-default.sticky .navbar-nav>.active>a{/*Accueil et autres li active*/
	background-color: rgb(184, 175, 170);
}
.navbar-default.sticky .btn-default{/*boutons submit panier...*/
	background-color: rgb(184, 175, 170);
}
.navbar-default.sticky .navbar-nav>.open>a:focus{/*title dropdowm when focused or clicked*/
	background-color: rgb(184, 175, 170);
}
.navbar-default.sticky .dropdown-menu{/*dropdown content*/
	background-color: rgb(218, 208, 202);
}

/*=========================Menu_right=============================*/
.menu_left{
	background-color: rgba(185, 185, 185, 0.8);
}
.menu_left{
	padding: 1em 1em 0 1em;
}
.menu_left.sticky{/*navbar global*/
	position: fixed;
	top: 84px;
	width: 23.3%;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
}

.menu_left li{
	list-style: none;
}
.logo_container{
	background-color: rgb(105, 94, 69);
	height: 408px;
}
.logo_container > h1{
	font-size: 6em;
}
/*mise en forme tableau product*/
.product_img_thumbnail_back .img_thumbnail_back{
	max-height: 100px;
	max-width: 100px;
}
/*LAYOUT HOME (special)*/
/*carroussel*/


.item{
background-color: rgba(182, 186, 157, 0.8);
}

.div_item_carroussel{
	width: 33%;
	height: 100%;
	padding : 1%;
}
/*Ce que vous trouverez*/
.presentation_detail{
	margin-top: 2em;
	padding: 1em 0 1em 0;
	background-color: rgba(182, 186, 157, 0.5);
}

/*AFFICHAGE PANIER*/

.thumb_cart{
	max-height : 100px;
}
.cart_table_cell{
	width : 20%;
}
.empty_cart{
	font-size: 1em;
}
/*=====================FIN HERMELEN======================*/
